<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<header class="cabecalho">

    <div class="container">
        <img src="assets/img/logo.png" alt="Logo da TaxInnovation" class="container__imagem" width="100px" height="100px">

        <ul class="lista-menu">
            <li class="lista-menu__item"><a href="#" class="lista-menu__link">BASE TESES</a></li>
            <li class="lista-menu__item">
                <a href="#" class="lista-menu__link">CLASSIFICAÇÃO</a>
            </li>
            <li class="lista-menu__item">
                <a href="#" class="lista-menu__link">EMPRESAS</a>
            </li>

            <li class="lista-menu__item">
                <a href="#" class="lista-menu__link">COMERCIAL</a>
            </li>
        </ul>
        
    </div>
</header>
